@tailwind base;
@tailwind components;
@tailwind utilities;

.scroll_container_page {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scroll_container_page::-webkit-scrollbar {
  display: none;
}
